.grafico {
    display: block;
    margin-left: auto;
    margin-right: auto; 

}
.links2 {
    background-color: rgb(204, 255, 210);
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-left: 21rem;
    padding: 1rem;
    display: flex;
    justify-content:space-evenly;
}
.links2 a{
    text-decoration: none;
    color: (#021601);
    font-weight: 700;
    font-size: 0.8;
    font-family: sans-serif;
}
.vl {
    border-left: 2px solid #32ad2c;
}                              